body
{
    background-color: #B7C4CF;
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)), url("https://wallpapercave.com/wp/wp2972537.jpg");
     background-color: transparent;
    image-resolution: 100%;
}

.hr {
  border: 10px solid white;
  border-radius: 5px;
}


/*O MENI*/

.naslov
{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid #16213E;
    color: white;
    background-color: #16213E;
    border-radius: 50%;
    text-align: center;
    margin: 4% 30%;
    box-shadow: inset 20px 20px 39px #080a10,
  inset -20px -20px 39px #1b263e;
}


.link
{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px ;
    font-size: 30px;
    font-family: fantasy;
    text-align: center;
    padding: 20px;
    background-color: #16213E;
    color: white;
}

.paragraf {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  position: relative;
  height: 100px;
  border-radius: 100px;
  border: none;
  background: #333;
  color:white;
  font-weight: 600;
  box-shadow: inset 20px 20px 39px #080a10,
  inset -20px -20px 39px #1b263e;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.slika
{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.samopisajuci-tekst
{
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-bottom: 100px;
    color: white;
}

.ikonice
{
    margin-left: auto;
    margin-right: auto;
}

.mySlides
{
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #16213E;
    background-color: white;
    border-radius: 20px;
}

.pro
{ 
  font-family:"Verdana, Geneva, Tahoma, sans-serif";
  border: 3px solid #16213E;
  background-color: white;
  border-radius: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 200px;
}

.prog
{
  text-align: center; 
  font-family:"Verdana, Geneva, Tahoma, sans-serif";
  border: 3px solid #16213E;
  background-color: white;
  border-radius: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
}


.nog
{
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.dm
{
    margin-top: 150px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left:auto;
    margin-right: auto;
}

.dmm1:hover {
  transition: translateY(-10px);
  filter: brightness(110%);
  cursor: pointer;
  line-height: 1;
}

.dmm2:hover
{
 transition: translateY(-10px);
  filter: brightness(110%);
  cursor: pointer;
  line-height: 13
}

.dmm3:hover
{
 transition: translateY(-10px);
  filter: brightness(150%);
  cursor: pointer;
  line-height: 13
}

.dmm4:hover
{
 transition: translateY(-10px);
  filter: brightness(110%);
  cursor: pointer;
  line-height: 13
}




/*KONTAKT*/

.input {
  background-color: #212121;
  margin: 8px 5px;
  height: 50px;
  padding-left: 10px;
  padding-right: 40px;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 2px rgb(249, 255, 85);
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.input:focus {
  color: rgb(0, 255, 255);
  background-color: #212121;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}

textarea
{
  width: 50%;
  height: 400px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 30px;
  line-height: 0.10;
  background-color: #f8f8f8;
  resize: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 150px ;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.kt
{
    color: white;
    font-size: 35px;
    border: 5px solid #16213E;
    background-color: #16213E;
    border-radius: 100px;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 15%;
}

button
{
    padding: 20px;
    text-align: center;
    font-size: 40px;
    background-color: red;
    width: 50%;
    transition: 0.3s;
    margin-left: 25%;
    margin-bottom: 100px;
}


button:hover {
  background-color: rgb(6, 4, 138);
  color: white;
}







a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}



.slika {
  animation-name: tender-swan;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes tender-swan {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
  150% {
    transform: translateY(0);
  }
}

