body
{
    background-color: #B7C4CF;
}

.naslov
{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid #16213E;
    color: white;
    background-color: #16213E;
    border-radius: 50%;
    text-align: center;
    margin: 4% 30%;
}


.link
{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px ;
    font-size: 30px;
    font-family: fantasy;
    text-align: center;
    padding: 20px;
    background-color: #16213E;
}

.paragraf
{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 60px;
    margin-bottom: 50px;
    border: 5px solid silver;
    background-color: white;
    margin-left: 20px;
    font-weight: bolder;
    padding: 10px 20px;
    padding-bottom: 20%;
}

.slika
{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.samopisajuci-tekst
{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 100px;
}

.naslov2
{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid #16213E;
    color: white;
    background-color: #16213E;
    border-radius: 50%;
    text-align: center;
    margin: 4% 30%;
    margin-bottom: 100px;
}

.k
{
  padding-left: 10px;
  padding-right: 40px;
  height: 50px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea
{
  width: 50%;
  height: 400px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 150px ;
  display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.kt
{
    color: white;
    font-size: 35px;
    border: 5px solid #16213E;
    background-color: #16213E;
    border-radius: 100px;
    text-align: center;
    margin: 3% 40%;
}

button
{
    padding: 20px;
    text-align: center;
    font-size: 40px;
    background-color: red;
    width: 50%;
    transition: 0.3s;
    margin-left: 25%;
    margin-bottom: 100px;
}


button:hover {
  background-color: rgb(6, 4, 138);
  color: white;
}







a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}



.slika {
  animation-name: tender-swan;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes tender-swan {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
  150% {
    transform: translateY(0);
  }
}
